@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #96b8a3;
  --foreground: #ededed;
}

body {
  height: 100vh;
  width: 100%;
  font-family: var(--font-roboto), serif;
}
